<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="commerceService" value="http://ignite2017.australiaeast.cloudapp.azure.com:8443/api/"/>
  </appSettings>
</configuration>